h1{
    color:teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h3{
    color: pink;
}
img{
    width: 300px;
    border-color: tomato;
}
.jumbotron{
    background-image: url(hiking.JPG);
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.jumbotron2{
background-color: #f8f9fa;
}