h1{
    color:navy;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 20px;
}
img{
    width: 300px;
}
.jumbotron{
    background-image: url(hiking.JPG);
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.jumbotron2{
background-color: #f8f9fa;
padding-bottom: 5px;
}
.card{
    font-family: 'Oswald', sans-serif;
}
h5{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 15px;

}
.table {
    padding-top: 100pt;
}
.container{
    padding-top: 8pt
}
.thead{
    h5{
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 20px;
}